    /*
    Flaticon icon font: Flaticon
    Creation date: 22/05/2016 12:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-arrows:before { content: "\f100"; }
.flaticon-arrows-1:before { content: "\f101"; }
.flaticon-cross-remove-sign:before { content: "\f102"; }
.flaticon-image:before { content: "\f103"; }
.flaticon-image-1:before { content: "\f104"; }
.flaticon-image-2:before { content: "\f105"; }
.flaticon-keyboard-right-arrow-button:before { content: "\f106"; }
    
    $font-Flaticon-arrows: "\f100";
    $font-Flaticon-arrows-1: "\f101";
    $font-Flaticon-cross-remove-sign: "\f102";
    $font-Flaticon-image: "\f103";
    $font-Flaticon-image-1: "\f104";
    $font-Flaticon-image-2: "\f105";
    $font-Flaticon-keyboard-right-arrow-button: "\f106";