@import draw-board;

$tiny_spacing: 0.3em;
$item_spacing: 0.5em;
$padding_spacing: 5px;
$wrap_spacing: 10px;
$block_spacing: 25px;

$color_white: #fff;
$color_black: #000;
$color_popup_bg: RGBA(0, 0, 0, 0.6);
$color_separate: color($color_white blackness(15%));

$level_popup_method: 10;

$width_size_confirm: 35px;

@define-mixin keyinWidth {
    width: 150px;
}

@define-mixin borderRadius {
    border-radius: 3px;
}

@define-mixin afterClear {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

@define-mixin blkCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@define-mixin hover {
    &:hover {
        cursor: pointer;
    }
}

@define-mixin keyinCpt {
    @mixin borderRadius;
    @mixin keyinWidth;
    display: inline-block;
    padding: $tiny_spacing;
}

@define-mixin uiColortag {
    @mixin keyinCpt;
    text-align: center;
}

@define-mixin noBorder {
    border: none;
    outline: none;
}

html, body {
    font-size: 15px;
}

body *  {
    box-sizing: border-box;
}

.pkg-tmp {
    .pkg-tmp-method {
        display: none;
        border-bottom: 6px solid #099;
        &.pkg-tmp-method_open {
            display: block;
        }
    }
    .pkg-tmp-workspace {
        @mixin blkCenter ;
        /* min-width: 768px; */
    }
}

.pkg-workspace {
    margin-bottom: $block_spacing;
    height: 150px;
    background-color: color($color_white blackness(5%));
    border-bottom: 1px solid color($color_white blackness(15%));
    .pkg-workspace-tools {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        height: 100%;
        &.pkg-workspace-tools_size {
            .pkg-workspace-tools-item {
                &.pkg-workspace-tools-item_size {
                    &:after {
                        display: none;
                    }
                }
                &.pkg-workspace-tools-item_back,
                &.pkg-workspace-tools-item_upload,
                &.pkg-workspace-tools-item_action {
                    display: none;
                }
            }
        }
        &.pkg-workspace-tools_upload {
            .pkg-workspace-tools-item {
                &.pkg-workspace-tools-item_size {
                    display: none;
                }
                &.pkg-workspace-tools-item_back,
                &.pkg-workspace-tools-item_upload {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        &.pkg-workspace-tools_action {
            .pkg-workspace-tools-item {
                &.pkg-workspace-tools-item_size {
                    display: none;
                }
                &.pkg-workspace-tools-item_back,
                &.pkg-workspace-tools-item_upload,
                &.pkg-workspace-tools-item_action {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .pkg-workspace-tools-item {
            position: relative;
            height: 100%;
            &:after {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: RGBA(0, 0, 0, 0.4);
                content: '';
            }
            &.pkg-workspace-tools-item_size,
            &.pkg-workspace-tools-item_upload {
                padding: $wrap_spacing;
            }
            &.pkg-workspace-tools-item_size {
                padding-right: calc( $width_size_confirm + $wrap_spacing / 2 );
                width: 100%;
                /* max-width: 25em; */
            }
            &.pkg-workspace-tools-item_upload {
                width: 300px;
            }
            &.pkg-workspace-tools-item_action {
                flex-grow: 1;
                min-width: 60px;
            }
        }
    }
    .pkg-workspace-preview {
    }
}

.pkg-size .pkg-size-confirm,
.pkg-back .pkg-back-confirm {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.pkg-size {
    .pkg-size-item {
        margin-bottom: 0.5em;
        white-space: nowrap;
        .pkg-size-item-indent {
            padding-left: calc( 1em + $item_spacing );
            margin-top: 0.3em;
        }
    }
    .pkg-size-confirm {
        @mixin iconDrawBoardBefore "\f106" ;
        width: $width_size_confirm;
    }
}

.pkg-back {
    width: $width_size_confirm;
    .pkg-back-confirm {
        @mixin iconDrawBoardBefore "\f101" ;
        width: 100%;
    }
}

.pkg-upload {
    display: flex;
    align-items: stretch;
    .pkg-upload-inner {
        position: relative;
        width: 100%;
        height: 100%;
        .pkg-upload-inner-origin {
            @mixin blkCenter;
            max-width: 100%;
            /*max-height: 300px;*/
            max-height: 100%;
        }
        .pkg-upload-inner-input {
            @mixin hover;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}

.pkg-action {
    position: relative;
    display: flex;
    padding-left: $wrap_spacing;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 70%;
        left: 0;
        top: 15%;
        border-left: 1px solid $color_separate; 
    }
    .pkg-action-tools {
        display: flex;
        padding: $wrap_spacing;
        width: $width_size_confirm;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*position: absolute;
        padding: $wrap_spacing $item_spacing;
        left: 0;
        top: 0;
        height: 100%;*/
        .pkg-action-tools-button {
            font-size: 24px;
            &:nth-of-type(n+2) {
                margin-top: $wrap_spacing;
            }
            &.pkg-action-tools-button_add {
                @mixin iconDrawBoardBefore "\f103" ;
            }
            &.pkg-action-tools-button_download {
                @mixin iconDrawBoardBefore "\f105" ;
            }
        }
    }
    .pkg-action-method {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        li {
            display: inline-block;
            margin: $tiny_spacing $item_spacing;
            padding: calc( $tiny_spacing/2 ) $item_spacing ;
            border: 1px solid #f00;
            border-radius: $tiny_spacing ;
            .pkg-action-method-delete {
                margin-left: $tiny_spacing;
                display: inline-block;
                padding: $tiny_spacing;
                border-radius: 50%;
                border: 1px solid #f00;
                @mixin hover;
            }
        }
    }
}

.pkg-method {
    z-index: $level_popup_method;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color_popup_bg;
    content: '';
    /* .pkg-method-content-close {
        position: absolute;
        right: $wrap_spacing;
        top: $wrap_spacing;
    } */
    .pkg-method-content {
        background-color: color($color_white blackness(5%));
        .pkg-method-content-options {
            padding-right: 3em;
            background-color: color($color_white blackness(15%));
        }
    }
    .pkg-method-wrap {
        padding: $wrap_spacing;
    }
}

.pkg-control {
    @mixin afterClear;
    position: relative;
    .pkg-control-center {
        display: block;
        width: 100%;
    }
    .pkg-control-left {
        float: left;
        width: 43%;
    }
    .pkg-control-right {
        position: relative;
        float: right;
        width: 55%;
    }
    .pkg-control-bottom {
        clear: both;
    }
}

.pkg-conpreview {
    position: relative;
    .pkg-conpreview-image {
        @mixin blkCenter;
        max-width: 100%;
        max-height: 450px;
    }
}

.pkg-preview {
    margin-top: $block_spacing;
    padding-top: $wrap_spacing;
    padding-bottom: $wrap_spacing;
    .pkg-preview-image {
        @mixin blkCenter;
        max-width: 100%;
        max-height: 450px;
    }
}

.blk-subtitle {
    font-size: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.blk-dotstyle {
    margin-bottom: calc( $block_spacing / 2 );
}

.pkg-btnSection {
    padding-top: 1.5em;
    text-align: center;
    .pkg-btnSection-btn {
        &:nth-of-type(n+2){
            margin-left: 2em;
        }
    }
}

.pkg-colorpicker {
    z-index: calc( $level_popup_method - 2 );
    display: none;
    &:before {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content: '';
        background-color: $color_popup_bg;
    }
    &.pkg-colorpicker_on {
        display: block;
    }
    .pkg-colorpicker-picker {
        position: absolute;
        display: block;
        padding: $wrap_spacing;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        white-space: nowrap;
        background-color: $color_white;
    }
    .pkg-colorpicker-close {
        z-index: calc( $level_popup_method - 1 );
        position: fixed;
        /*
        right: $block_spacing;
        top: $block_spacing;
        */
    }
    .pkg-colorpicker-action {
        margin-top: $wrap_spacing;
        text-align: center;
        .pkg-colorpicker-action-picked {
            @mixin uiColortag;
        }
    }
    .pkg-btnSection {
        margin-top: $wrap_spacing;
        padding-top: 0;
    }
}

.pkg-textpos {
    @mixin afterClear;
    width: 15em;
    .pkg-textpos-item {
        position: relative;
        width: 33%;
        float: left;
        text-align: center;
        .pkg-textpos-item-btn {
            /*
            margin-top: $item_spacing;
            margin-bottom: $item_spacing;
            */
            width: 100%;
        }
    }
}

 .pkg-table {
    display: table;
    .pkg-table-row {
        display: table-row;
        &:last-of-type {
            .pkg-table-cell {
                border-bottom: none;
            }
        }
        .pkg-table-cell {
            display: table-cell;
            padding: $tiny_spacing 0;
            text-align: left;
            vertical-align: middle;
            border-bottom: 1px solid $color_separate;
            &.pkg-table-cell_head {
                white-space: nowrap;
            }
            &.pkg-table-cell_right {
                text-align: right;
            }
        }
    }
} 

/* .pkg-table {
    .pkg-table-row {
        @mixin afterClear ;
        .pkg-table-cell {
            float: left;
            &.pkg-table-cell_head {
                width: 6.5em;
            }
        }
    }
} */

/* .pkg-table {
    display: block;
    .pkg-table-row {
        display: block;
        margin-bottom: 1em;
        .pkg-table-cell {
            display: inline-block;
            vertical-align: middle;
            &.pkg-table-cell_head {
                width: 6.5em;
            }
        }
    }
} */

.pkg-range {
    display: inline-block;
    .pkg-range-opt {
        @mixin keyinWidth;
    }
    .pkg-range-show {
        display: inline-block;
        margin-left: 0.5em;
    }
}

.ui-colortag {
    @mixin uiColortag;
    &.ui-hover {
        @mixin iconDrawBoardAfter "\f100" ;
        &:after {
            float: right;
        }
    }
}

.ui-hover {
    @mixin hover;
}

.ui-button {
    @mixin borderRadius;
    @mixin noBorder;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    &.ui-button_strong {
        background-color: #900;
        color: #fdd;
    }
    &.ui-button_warn {
        background-color: #fc3;
        color: #900;
    }
    &.ui-button_ignore {
        background-color: #9ca;
        color: #063;
    }
}

.ui-center {
    text-align: center;
}
.ui-right {
    text-align: right;
}

.ui-keyin {
    @mixin keyinCpt;
    outline: none;
}

.ui-close {
    @mixin iconDrawBoardBefore "\f102" ;
    @mixin hover;
    position: absolute;
    display: inline-block;
    padding: $padding_spacing;
    right: 10px;
    top: 10px;
    font-size: 15px;
    border-radius: 50%;
    background-color: color( $color_black a(35%) );
    color: $color_white;
}

.ui-toolsbtn {
    @mixin noBorder;
    background-color: color($color_white blackness(15%));
    color: color($color_white blackness(85%));
}

.mrg-rt-base {
    margin-right: $item_spacing;
}
.mrg-lt-tiny {
    margin-left: $tiny_spacing;
}
.mrg-rt-tiny {
    margin-right: $tiny_spacing;
}
.wth-100pct {
    width: 100%;
}
.wth-50pct {
    width: 50%;
}

.dpy-inblock {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}

@media screen and ( max-width: 767px ){
    .pkg-tmp {
        background: #fcc;
        .pkg-tmp-canvas {
            width: 90%;
            border: 1px solid #f00;
            background: #ccc;
        }
    }
}