@import draw-board;

$tiny_spacing: 0.3em;
$item_spacing: 0.5em;
$padding_spacing: 5px;
$wrap_spacing: 10px;
$block_spacing: 25px;

$color_white: #fff;
$color_black: #000;
$color_popup_bg: RGBA(0, 0, 0, 0.6);
$color_separate: color($color_white blackness(15%));
$color_aid_01: color($color_white blackness(15%));
$color_aid_02: color($color_white blackness(5%));
$color_aid_03: color($color_white blackness(85%));

$level_popup_method: 10;

$width_size_confirm: 35px;
$max_height_preview_img: 350px;
$max_height_preview_img_left: 200px;

@define-mixin pageStyle $style_name, $color_mainback:#ccc, $color_mainbtback:#bbb, $color_toolsback:#aaa, $color_toolstext:#333 {
    &.pkg-pagestyle_$(style_name) {
        background-color: $color_mainback;
        .pkg-pagestyle-toolsback {
            background-color: $color_toolsback;
            color: $color_toolstext;
        }
        .pkg-pagestyle-mainbtback {
            background-color: $(color_mainbtback);
        }
    }
    .pkg-pagestyle-mainbtback {
        &.pkg-pagestyle-mainbtback_$(style_name) {
            background-color: $(color_mainbtback) !important;
        }
    }
}

@define-mixin keyinWidth {
    width: 150px;
}

@define-mixin borderRadius {
    border-radius: 3px;
}

@define-mixin afterClear {
    &:after {
        display: block;
        content: '';
        clear: both;
    }
}

@define-mixin blkCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@define-mixin hover {
    &:hover {
        cursor: pointer;
    }
}

@define-mixin keyinCpt {
    @mixin borderRadius;
    @mixin keyinWidth;
    display: inline-block;
    padding: $tiny_spacing;
}

@define-mixin uiColortag {
    @mixin keyinCpt;
    text-align: center;
}

@define-mixin noBorder {
    border: none;
    outline: none;
}

html, body {
    font-size: 15px;
}

body *  {
    box-sizing: border-box;
}

.pkg-tmp {
    .pkg-tmp-method {
        display: none;
        border-bottom: 6px solid #099;
        &.pkg-tmp-method_open {
            display: block;
        }
    }
    .pkg-tmp-workspace {
        @mixin blkCenter ;
        /* min-width: 768px; */
    }
    .pkg-tmp-setting {
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

.pkg-workspace {
    margin-bottom: $block_spacing;
    height: 150px;
    .pkg-workspace-tools {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        flex-wrap: nowrap;
        height: 100%;
        background-color: $color_aid_02;
        border-bottom: 1px solid $color_aid_01;
        &.pkg-workspace-tools_size {
            .pkg-workspace-tools-item {
                &.pkg-workspace-tools-item_size {
                    &:after {
                        display: none;
                    }
                }
                &.pkg-workspace-tools-item_back,
                &.pkg-workspace-tools-item_upload,
                &.pkg-workspace-tools-item_action {
                    display: none;
                }
            }
        }
        &.pkg-workspace-tools_upload {
            .pkg-workspace-tools-item {
                &.pkg-workspace-tools-item_size {
                    display: none;
                }
                &.pkg-workspace-tools-item_back,
                &.pkg-workspace-tools-item_upload {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        &.pkg-workspace-tools_action {
            .pkg-workspace-tools-item {
                &.pkg-workspace-tools-item_size {
                    display: none;
                }
                &.pkg-workspace-tools-item_back,
                &.pkg-workspace-tools-item_upload,
                &.pkg-workspace-tools-item_action {
                    &:after {
                        display: none;
                    }
                }
            }
        }
        .pkg-workspace-tools-item {
            position: relative;
            height: 100%;
            width: $width_size_confirm;
            &:after {
                position: absolute;
                display: block;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                background-color: RGBA(0, 0, 0, 0.4);
                content: '';
            }
            &.pkg-workspace-tools-item_size,
            &.pkg-workspace-tools-item_upload {
                padding: $wrap_spacing;
            }
            &.pkg-workspace-tools-item_size {
                padding-right: calc( $width_size_confirm + $wrap_spacing / 2 );
                width: 100%;
                /* max-width: 25em; */
            }
            &.pkg-workspace-tools-item_upload {
                width: 300px;
            }
            &.pkg-workspace-tools-item_action {
                flex-grow: 1;
                min-width: 60px;
            }
        }
    }
    .pkg-workspace-preview {
    }
}

.pkg-size .pkg-size-confirm,
.pkg-back .pkg-back-confirm {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}

.pkg-size {
    .pkg-size-item {
        margin-bottom: 0.5em;
        white-space: nowrap;
        .pkg-size-item-indent {
            padding-left: calc( 1em + $item_spacing );
            margin-top: 0.3em;
        }
    }
    .pkg-size-confirm {
        @mixin iconDrawBoardBefore "\f107" ;
        width: $width_size_confirm;
    }
}

.pkg-back {
    .pkg-back-confirm {
        @mixin iconDrawBoardBefore "\f101" ;
        width: 100%;
    }
}

.pkg-upload {
    display: flex;
    align-items: stretch;
    .pkg-upload-inner {
        position: relative;
        width: 100%;
        height: 100%;
        .pkg-upload-inner-origin {
            @mixin blkCenter;
            max-width: 100%;
            /*max-height: 300px;*/
            max-height: 100%;
            * {
                fill: $color_aid_01;
            }
        }
        .pkg-upload-inner-input {
            @mixin hover;
            position: absolute;
            display: block;
            width: 100%;
            height: 100%;
            left: 0;
            top: 0;
            opacity: 0;
        }
    }
}

.pkg-action {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
    &:before {
        position: absolute;
        display: block;
        content: '';
        width: 0;
        height: 70%;
        left: 0;
        top: 15%;
        border-left: 1px solid $color_separate; 
    }
    .pkg-action-tools {
        display: flex;
        padding: $wrap_spacing;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /*position: absolute;
        padding: $wrap_spacing $item_spacing;
        left: 0;
        top: 0;
        height: 100%;*/
        .pkg-action-tools-button {
            @mixin borderRadius;
            @mixin hover;
            font-size: 24px;
            &:nth-of-type(n+2) {
                margin-top: $wrap_spacing;
            }
            &.pkg-action-tools-button_add {
                @mixin iconDrawBoardBefore "\f104" ;
            }
            &.pkg-action-tools-button_download {
                @mixin iconDrawBoardBefore "\f106" ;
            }
        }
    }
    .pkg-action-method {
        display: block;
        list-style: none;
        margin: 0;
        padding: 0;
        flex-grow: 1;
        overflow-x: hidden;
        overflow-y: auto;
        .pkg-action-method-item {
            @mixin borderRadius;
            display: inline-block;
            margin: $tiny_spacing $item_spacing;
            padding: calc( $tiny_spacing/2 ) $item_spacing ;
            background-color: $color_aid_01;
            .pkg-action-method-delete {
                @mixin iconDrawBoardBefore "\f103" ;
                @mixin hover;
                margin-left: $tiny_spacing;
                display: inline-block;
                &:hover {
                    &:before {
                        background-color: $color_aid_01;
                        box-shadow: 0 0 0 5px $color_aid_02;
                        color: $color_aid_03;
                    }
                }
                &:before {
                    display: inline-block;
                    padding: $tiny_spacing;
                    background-color: $color_aid_03;
                    color: $color_white;
                    transform: scale(0.6);
                    border-radius: 50%;
                    box-shadow: 0 0 0 5px $color_aid_03;
                }
            }
        }
    }
}

.pkg-method {
    z-index: $level_popup_method;
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: $color_popup_bg;
    content: '';
    .pkg-method-content {
        background-color: $color_aid_02;
        /* .pkg-method-content-close {
            position: absolute;
            right: $wrap_spacing;
            top: $wrap_spacing;
        } */
        .pkg-method-content-options {
            padding-right: 3em;
            background-color: $color_aid_01;
        }
        .pkg-method-content-control {
            max-height: $max_height_preview_img;
            overflow-y: auto;
        }
    }
    .pkg-method-wrap {
        padding: $wrap_spacing;
    }
}

.pkg-control {
    @mixin afterClear;
    position: relative;
    .pkg-control-center {
        display: block;
        width: 100%;
    }
    .pkg-control-left {
        float: left;
        width: 43%;
    }
    .pkg-control-right {
        position: relative;
        float: right;
        width: 55%;
    }
    .pkg-control-bottom {
        clear: both;
    }
}

.pkg-conpreview {
    position: relative;
    .pkg-conpreview-image {
        @mixin blkCenter;
        max-width: 100%;
        max-height: $max_height_preview_img;
    }
}

.pkg-preview {
    margin-top: $block_spacing;
    padding-top: $wrap_spacing;
    padding-bottom: $wrap_spacing;
    .pkg-preview-image {
        @mixin blkCenter;
        max-width: 100%;
        max-height: $max_height_preview_img;
    }
}

.blk-subtitle {
    font-size: 18px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.blk-dotstyle {
    margin-bottom: calc( $block_spacing / 2 );
}

.pkg-btnSection {
    padding-top: 1.5em;
    text-align: center;
    .pkg-btnSection-btn {
        &:nth-of-type(n+2){
            margin-left: 2em;
        }
    }
}

.pkg-colorpicker {
    z-index: calc( $level_popup_method - 2 );
    display: none;
    &:before {
        position: fixed;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        content: '';
        background-color: $color_popup_bg;
    }
    &.pkg-colorpicker_on {
        display: block;
    }
    .pkg-colorpicker-picker {
        position: absolute;
        display: block;
        padding: $wrap_spacing;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        white-space: nowrap;
        background-color: $color_white;
    }
    .pkg-colorpicker-close {
        z-index: calc( $level_popup_method - 1 );
        position: fixed;
        /*
        right: $block_spacing;
        top: $block_spacing;
        */
    }
    .pkg-colorpicker-action {
        margin-top: $wrap_spacing;
        text-align: center;
        .pkg-colorpicker-action-picked {
            @mixin uiColortag;
        }
    }
    .pkg-btnSection {
        margin-top: $wrap_spacing;
        padding-top: 0;
    }
}

.pkg-textpos {
    @mixin afterClear;
    width: 15em;
    .pkg-textpos-item {
        position: relative;
        width: 33%;
        float: left;
        text-align: center;
        .pkg-textpos-item-btn {
            /*
            margin-top: $item_spacing;
            margin-bottom: $item_spacing;
            */
            width: 100%;
        }
    }
}

.pkg-table {
    display: table;
    .pkg-table-row {
        display: table-row;
        &:last-of-type {
            .pkg-table-cell {
                border-bottom: none;
            }
        }
        .pkg-table-cell {
            display: table-cell;
            padding: $tiny_spacing 0;
            text-align: left;
            vertical-align: middle;
            border-bottom: 1px solid $color_separate;
            &.pkg-table-cell_head {
                white-space: nowrap;
            }
            &.pkg-table-cell_right {
                text-align: right;
            }
        }
    }
} 

/* .pkg-table {
    .pkg-table-row {
        @mixin afterClear ;
        .pkg-table-cell {
            float: left;
            &.pkg-table-cell_head {
                width: 6.5em;
            }
        }
    }
} */

/* .pkg-table {
    display: block;
    .pkg-table-row {
        display: block;
        margin-bottom: 1em;
        .pkg-table-cell {
            display: inline-block;
            vertical-align: middle;
            &.pkg-table-cell_head {
                width: 6.5em;
            }
        }
    }
} */

.pkg-range {
    display: inline-block;
    .pkg-range-opt {
        @mixin keyinWidth;
    }
    .pkg-range-show {
        display: inline-block;
        margin-left: 0.5em;
    }
}

.pkg-setting {
    width: 200px;
    padding: $wrap_spacing;
    font-size: 9px;
    .pkg-setting-option .pkg-setting-scroll,
    .pkg-setting-btn {
        @mixin hover;
        padding-left: 1.5em;
        &:before{
            font-size: 18px;
        }
    }
    .pkg-setting-option {
        .pkg-setting-scroll {
            position: relative;
            height: 350px;
            overflow-x: visible;
            overflow-y: auto;
            /* border: 3px solid color($color_white a(80%)); */
            .pkg-setting-option-now {
                @mixin iconDrawBoardBefore "\f101" ;
                z-index: 2;
                position: absolute;
                left: 0;
                top: 0;
                font-size: 14px;
                transform-origin: center center;
                transform: translateY(-50%) rotate(180deg);
                transition: all 0.5s ease;
            }
            .pkg-setting-option-item {
                padding: calc( $wrap_spacing / 2 );
            }
        }
    }
    .pkg-setting-btn {
        display: block;
        margin-top: $item_spacing;
        text-align: right;
        @mixin iconDrawBoardBefore "\f102" ;
    }
}

.pkg-pagestyle {

    @mixin pageStyle resurgencea, 
                    #F2EAE7, 
                    color(#B2DBCD blackness(15%) saturation(25%)), 
                    color(#F2EAE7 blend(#B2DBCD 40%)), 
                    #8A7F7D ;
    @mixin pageStyle resurgenceb,
                    #F2EAE7,
                    color(#8A7F7D saturation(-60%) hue(+240)),
                    color(#F1B6AE lightness(+10%)),
                    color(#8A7F7D saturation(-60%) hue(+240) blackness(45%)) ;
    @mixin pageStyle resurgencec, 
                    color(#B2DBCD lightness(+10%)), 
                    color(#8A7F7D lightness(+45%) hue(+90)), 
                    color(#B2DBCD lightness(85%) blend(#F2EAE7 55%) lightness(+5%)), 
                    color(#B2DBCD blend(#8A7F7D 75%) lightness(-10%));
    
    @mixin pageStyle springa, 
                    #F2CED8, 
                    color(#F2358D blackness(55%) saturation(-15%)),
                    color(#F2CED8 blend(#F2358D 40%)),
                    color(#73398C blend(#F2358D 30%)) ;
    @mixin pageStyle springb, 
                    color(#F2E963 lightness(+15%) hue(+45) blend(#D8F6EA 60%)), 
                    #D8F6EA, 
                    #D8F6EA, 
                    color(#D8F6EA saturation(80%) blackness(85%));
    @mixin pageStyle springc, 
                    color(#73398C blackness(+40%)), 
                    #F2358D, 
                    color(#73398C blackness(+60%)),
                    color(#73398C lightness(80%));
    
    @mixin pageStyle winea, 
                    #F2F2F2, 
                    color(#F2F2F2 blackness(-35%)), 
                    color(#F2F2F2 blackness(-35%)), 
                    color(#F2F2F2 blackness(5%) saturation(+60%) blend(#8C2756 80%));
    @mixin pageStyle wineb, 
                    color(#593649 blackness(+55%)), 
                    #F2B6D7, 
                    color(#593649 blackness(+55%) blend(#73294C 60%)), 
                    #F2B6D7;
    @mixin pageStyle winec, 
                    color(#F2F2F2 blend(#F2B6D7 40%)), 
                    color(#593649 lightness(+15%)), 
                    color(#593649 lightness(+15%)), 
                    color(#F2F2F2 blend(#F2B6D7 40%) lightness(+8%) saturation(+60%));

    @mixin pageStyle blueskya, 
                    color(#B6D7F6 blend(#ccc 20%)), 
                    #ccc, 
                    color(#B6D7F6 blend(#4E86C2 60%)), 
                    color(#4E86C2 lightness(95%));
    @mixin pageStyle blueskyb, 
                    color(#3F70A8 blackness(+15%)), 
                    #3F70A8, 
                    color(#3F70A8 blackness(+20%)), 
                    color(#4E86C2 hue(+210) lightness(95%) blend($color_white 60%));
    @mixin pageStyle blueskyc, 
                    color(#ccc blend($color_white 70%)), 
                    $color_white, 
                    color(#B6D7F6 blend($color_white 70%)), 
                    #3F70A8 ;

    @mixin pageStyle lovelya, 
                    color(#F3E4C2 lightness(+5%)), 
                    color(#F3E4C2 lightness(-5%)), 
                    color(#1A413C blend(#F3E4C2 40%)), 
                    #F3E4C2 ;
    @mixin pageStyle lovelyb, 
                    color(#7CC699 lightness(+20%)), 
                    color(#7CC699 lightness(+15%)), 
                    color(#F37A5A blend(#F3E4C2 40%)), 
                    color(#F3E4C2 saturation(+10%) lightness(+10%));
    @mixin pageStyle lovelyc, 
                    color(#F3E4C2 saturation(20%)), 
                    color(#F37A5A lightness(+30%) saturation(-15%)), 
                    color(#F37A5A lightness(+30%) saturation(-15%)), 
                    color(#F37A5A lightness(+30%) saturation(-15%) blend(#EF4926 60%) saturation(-20%) blackness(-10%)) ;

    @mixin pageStyle luxurya, 
                    color(#580001 blend(#F4F4F2 20%)), 
                    #A70704,
                    color(#580001 blend(#F4F4F2 20%) blend(#A70704 60%) blackness(60%)), 
                    color(#F3D64B lightness(75%));
    @mixin pageStyle luxuryb, 
                    color(#ccc blackness(+15%)), 
                    color(#A70704 lightness(-8%)), 
                    color(#ccc blackness(-5%) saturation(0%)), 
                    color(#580001 saturation(15%)) ;
    @mixin pageStyle luxuryc, 
                    color(#580001 blend(#F4F4F2 90%) blend(#F4F4F2 50%)), 
                    #F4F4F2 ,
                    color(#580001 blend(#F4F4F2 90%)), 
                    color(#A70704 lightness(-8%));

    @mixin pageStyle fantasya, 
                    color(#74FCFF blend(#ccc 60%) blend(#2DB0B2 60%)), 
                    #2DB0B2, 
                    color(#74FCFF blend(#ccc 60%) blend(#2DB0B2 60%) blend(#74FCFF 50%)), 
                    color(#2DB0B2 blackness(70%));
    @mixin pageStyle fantasyb, 
                    #2DB0B2, 
                    color(#FFB98D saturation(-25%) lightness(+15%)), 
                    color(#FA853C blackness(80%) blend(#FFB98D 20%)), 
                    color(#FFB98D saturation(-25%) lightness(+15%) blend(#FFB98D 40%)) ;
    @mixin pageStyle fantasyc, 
                    color(#2DB0B2 blackness(80%)), 
                    color(#2DB0B2 saturation(-50%) lightness(+45%) hue(+120)), 
                    color(#2DB0B2 blackness(20%));

    @mixin pageStyle rigida, 
                    , 
                    color(#A47F6C lightness(+10%) saturation(10%)), 
                    color(#F1BA49 blend(#DEE0E2 20%)), 
                    ;
    @mixin pageStyle rigidb, 
                    color(#DEE0E2 blend(#FFCE0F 25%) blend(#999946 55%) blackness(65%)), 
                    color(#F1BA49 saturation(-25%) lightness(+20%) hue(+5)), 
                    ,
                    color(#393430 blend(#DEE0E2 15%));
    @mixin pageStyle rigidc, 
                    $color_white, 
                    color(#DEE0E2 lightness(+5%)), 
                    color(#DEE0E2 lightness(+5%)), 
                    color(#A47F6C lightness(30%)) ;

    @mixin pageStyle watersidea, 
                    color(#4F88FF lightness(85%)), 
                    #4F88FF, 
                    color(#4F88FF lightness(70%) saturation(-25%) blackness(+10%)), 
                    color(#4F88FF lightness(95%)) ;
    @mixin pageStyle watersideb, 
                    color(#4F88FF lightness(85%) hue(-125) saturation(-65%)), 
                    color(#FFCE0F saturation(-25%) lightness(+30%) hue(+5)), 
                    color(#FFCE0F saturation(-25%) lightness(+30%) hue(+5)), 
                    color(#CCCB20 blackness(65%)) ;
    @mixin pageStyle watersidec, 
                    color(#CCCB20 saturation(-25%) lightness(+30%) hue(-5) blend(#FFCE0F 10%) saturation(-25%)), 
                    color(#CCCB20 saturation(-25%) lightness(+30%) hue(-5)), 
                    ,
                    ;

}

.ui-colortag {
    @mixin uiColortag;
    &.ui-hover {
        @mixin iconDrawBoardAfter "\f100" ;
        &:after {
            float: right;
        }
    }
}

.ui-hover {
    @mixin hover;
}

.ui-button {
    @mixin borderRadius;
    @mixin noBorder;
    display: inline-block;
    padding: 5px 15px;
    font-weight: bold;
    &.ui-button_strong {
        background-color: #900;
        color: #fdd;
    }
    &.ui-button_warn {
        background-color: #fc3;
        color: #900;
    }
    &.ui-button_ignore {
        background-color: #9ca;
        color: #063;
    }
}

.ui-center {
    text-align: center;
}
.ui-right {
    text-align: right;
}

.ui-keyin {
    @mixin keyinCpt;
    outline: none;
}

.ui-close {
    @mixin iconDrawBoardBefore "\f103" ;
    @mixin hover;
    position: absolute;
    display: inline-block;
    padding: $padding_spacing;
    right: 10px;
    top: 10px;
    font-size: 15px;
    border-radius: 50%;
    background-color: color( $color_black a(35%) );
    color: $color_white;
}

.ui-toolsbtn {
    @mixin noBorder;
    @mixin hover;
    background-color: $color_aid_01;
    color: $color_aid_03;
}

.mrg-rt-base {
    margin-right: $item_spacing;
}
.mrg-lt-tiny {
    margin-left: $tiny_spacing;
}
.mrg-rt-tiny {
    margin-right: $tiny_spacing;
}
.wth-100pct {
    width: 100%;
}
.wth-50pct {
    width: 50%;
}

.dpy-inblock {
    display: inline-block;
}

.nowrap {
    white-space: nowrap;
}

@media screen and ( max-width: 767px ){
    .pkg-tmp {
        background: #fcc;
        .pkg-tmp-canvas {
            width: 90%;
            border: 1px solid #f00;
            background: #ccc;
        }
    }

    .pkg-control {
        .pkg-control-left,
        .pkg-control-right {
            width: 100%;
        }
    }
}

@media screen and ( min-width: 768px ){
    .pkg-workspace {
        @mixin afterClear;
        margin-bottom: 0;
        height: 100%;
        .pkg-workspace-tools {
            position: fixed;
            width: 50%;
            flex-direction: column;
            .pkg-workspace-tools-item {
                width: 100%;
                &.pkg-workspace-tools-item_back {
                    width: 100%;
                    height: $width_size_confirm;
                } 
                &.pkg-workspace-tools-item_upload {
                    width: 100%;
                    height: calc( $max_height_preview_img_left + 30px );
                }
                &.pkg-workspace-tools-item_action {
                    height: auto;
                }
            } 
        }
        .pkg-workspace-preview {
            float: right;
            width: 50%;
        }
    }
    .pkg-upload {
        .pkg-upload-inner {
            .pkg-upload-inner-origin {
                max-height: $max_height_preview_img_left;
            }
        }
    }
    .pkg-preview {
        margin-top: 0;
        .pkg-preview-image {
            max-width: 90%;
            max-height: 500px;
            max-height: 90vh;
        }
    }
}

@media screen and ( min-width: 900px ) and ( max-width: 1199px ){
    .pkg-workspace {
        .pkg-workspace-tools {
            width: 40%;
        }
        .pkg-workspace-preview {
            width: 60%;
        }
    }
}

@media screen and ( min-width: 1200px ){
    .pkg-workspace {
        .pkg-workspace-tools {
            width: 35%;
        }
        .pkg-workspace-preview {
            width: 65%;
        }
    }
}